a, button {
  padding: 5px 10px;
  border-radius: 8px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
}

button {
  color: white;
}

.button-add-input {
  margin-top: 10px;
  background-color: #2695e3;
}

.button-delete-input {
  background-color: #e32695;
}

.button-nav, .button-logout {
  margin: 0px 10px;
  background-color: white;
  color: #e32636;
}

.button-submit-form {
  margin: 20px 0 0;
  background-color: #e32636;
}

.error-message {
  color: red;
}

.error-message li {
  margin-left: 30px;
  list-style: disc;
}

.error-message p {
  margin-left: 10px;
}

h2 {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  margin: 20px 0;
  font-family: 'Delius', cursive;
  font-size: 26px;
  color: #e32636;
}

h4 {
  margin: 20px 0;
  font-family: 'Delius', cursive;
  font-size: 22px;
  color: #e32636;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e32636;
  color: white;
}

.logo {
  padding: 0px 20px;
  font-family: 'Delius', cursive;
  font-size: 30px;
  text-align: center;
  color: white;
}

.nav-bar {
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.recipe-detail, .recipe-form {
  max-width: 700px;
  margin: 0 auto;
  padding-left: 20px;
}

.recipe-detail li {
  margin-left: 20px;
  margin-bottom: 5px;
  list-style: disc;
}

.recipe-detail .recipe-author {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-detail td {
  padding-bottom: 10px;
}

.recipe-detail td:first-child {
  padding-right: 10px;
}

.recipe-form .form-input {
  margin: 10px;
  display: flex;
  align-items: center;
}

.recipe-form label {
  margin-right: 10px;
  padding: 5px 0;
}

.recipe-form .title input {
  width: 400px;
}

.recipe-form .servings input {
  width: 50px;
}

.recipe-form .ingredient input {
  width: 353px;
  margin-right: 10px
}

.recipe-form .instruction textarea {
  width: 386px;
  height: 40px;
  margin-right: 10px;
}

.recipe-form .button-submit-form {
  margin-top: 50px;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form .form-input {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.session-form input {
  width: 140px;
}
