a, button {
  padding: 5px 10px;
  border-radius: 8px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.action-not-allowed p {
  margin: 50px;
  text-align: center;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 18px;
}

button {
  color: white;
}

.button-add-favorite {
  background-color: #53abe9;
}

.button-add-input {
  margin-top: 10px;
  background-color: #2695e3;
}

.button-delete-favorite {
  background-color: #ec6ab6;
}

.button-delete-input {
  background-color: #e32695;
}

.button-delete-recipe {
  background-color: #e32695;
}

.button-nav, .button-logout {
  margin: 0px 10px;
  background-color: white;
  color: #e32636;
}

.button-submit-form {
  margin: 20px 0 0;
  background-color: #e32636;
}

.error-message {
  color: red;
}

.error-message li {
  margin-left: 30px;
  list-style: disc;
}

.error-message p {
  margin-left: 10px;
}

h2 {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  margin: 20px 0;
  font-family: 'Delius', cursive;
  font-size: 26px;
  color: #e32636;
}

h4 {
  margin: 20px 0;
  font-family: 'Delius', cursive;
  font-size: 22px;
  color: #e32636;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e32636;
  color: white;
}

.link-add-recipe {
  margin: 10px 0 40px;
  background-color: #2695e3;
  color: white;
}

.link-edit-recipe {
  background-color: #e37526;
  color: white;
}

.logo {
  padding: 0px 20px;
  font-family: 'Delius', cursive;
  font-size: 26px;
  text-align: center;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 2px 0;
  margin: 0 10px;
  border-bottom: 2px solid white;
  border-radius: 0;
  font-weight: 400;
  color: white;
}

.nav-link.active {
  border-bottom: 4px solid white;
  font-weight: 700;
}

.nav-session-info {
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.rating-form {
  max-width: 450px;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid #2695e3;
  border-radius: 10px;
}

.rating-form h2 {
  padding: 0 0 20px;
}

.rating-form .form-input-rating {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.rating-form label {
  width: 70px;
}

.rating-form .rating-icons {
  margin-right: 20px;
}

.rating-form img {
  width: 40px;
  cursor: pointer;
}

.rating-form .button-submit-form {
  margin-top: 10px;
  background-color: #2695e3;
}

.rating-form .check-mark {
  padding-right: 20px;
  font-size: 30px;
  font-family: cursive;
}

.recipe-detail, .recipe-form {
  max-width: 700px;
  margin: 0 auto 20px;;
  padding-left: 20px;
}

.recipe-detail .title-and-favorite-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-detail li {
  margin-left: 20px;
  margin-bottom: 5px;
  list-style: disc;
}

.recipe-detail .recipe-author {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe-detail td {
  padding-bottom: 10px;
}

.recipe-detail td:first-child {
  padding-right: 10px;
}

.recipe-detail .recipe-author-options {
  margin-top: 20px;
}

.recipe-detail .recipe-author-options .button-delete-recipe {
  margin-left: 20px;
}

.recipe-form .form-input {
  margin: 10px;
  display: flex;
  align-items: center;
}

.recipe-form label {
  margin-right: 10px;
  padding: 5px 0;
}

.recipe-form .title input {
  width: 400px;
}

.recipe-form .servings input {
  width: 50px;
}

.recipe-form .ingredient input {
  width: 353px;
  margin-right: 10px
}

.recipe-form .instruction textarea {
  width: 386px;
  height: 40px;
  margin-right: 10px;
}

.recipe-form .button-submit-form {
  margin-top: 50px;
}

.recipe-list-and-sort-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.recipe-list table {
  font-size: 20px;
}

.recipe-list th {
  padding: 15px;
  font-weight: 700;
  color: #e32636;
}

.recipe-list tr {
  border-width: 10px 0;
  border-style: solid;
  border-color: white;
}

.recipe-list td {
  vertical-align: middle;
  padding: 15px;
  font-weight: 400;
  background-color: #fce5e7;
}

.recipe-list .link-recipe-detail {
  padding: 0;
  font-size: 20px;
  color: black;
}

.recipe-list .col-recipe {
  text-align: left;
}

.recipe-list .col-rating {
  text-align: center;
}

.recipe-list .rating-number-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-list img {
  width: 30px;
  padding-left: 10px;
}

.recipe-list-empty p {
  margin: 50px;
  text-align: center;
}

.session-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form .form-input {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.session-form input {
  width: 140px;
}

.sort-by label {
  margin-right: 10px;
}
